html {
	font-size: 25px;
	font-family: Calibri;
	background-color: #928E8B;
}

body {
	line-height: 2;
	letter-spacing: 1px;
	padding: 0 20px 20px 20px;
	margin: 0 auto;
	width: 1000px;
	border: 5px solid black;
	background-color: white;
}

#Headline {
	color: #E90708;
	width: 970px;
	font-size: 69px;
	margin: 0 auto;
	text-shadow: 2px 2px 1px black;
	display: block;
	
}

h1 {
	text-align: center;
}

img {
	margin: 0 auto;
	display: block;
}

button {
	width: 300px;
	font-size: 25px;
	margin: 0 auto;
	display: block;
}
